node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
adult-fares.pdf
London stations.csv
London tube lines.csv
LondonRail.csv
LondonUnderground.csv
railcard-fares conv.xls

# Querying and temp files
fare_report.md
src/scripts/
railcard-fares.pdf
fare_response.json
